<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <p>
            Home
        </p>
        <button onclick="onBtnPress()">테스트</button>
    </div>

    <div id="render">

    </div>

    <script>
        async function onBtnPress() {
            let response = await fetch("/api/v1/testFile")
            let responseText = await response.text();

            console.log(responseText);
            
            document.getElementById('render').innerHTML = responseText;
        }
    </script>
</body>
</html>